<section id="hero" class="hero section light-background">

    <div class="container">
        <div class="row gy-4 justify-content-center justify-content-lg-between">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Sağlıklı ve Lezzetli<br>Yemeklerin Tadını Çıkar</h1>
                <p data-aos="fade-up" data-aos-delay="100">Bootstrap ile web siteleri geliştiren yetenekli bir ekibiz</p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="#book-a-table" class="btn-get-started">
                        <i class="bi bi-calendar-check"></i> Masa Rezervasyonu Yap
                    </a>
                    <a href="https://www.instagram.com/" class="glightbox btn-watch-video d-flex align-items-center">
                        <i class="bi bi-instagram"></i><span>Instagram'a Göz At</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                <img src="/yummy-red-1.0.0/assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section>