
<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar sticky">
    @await Component.InvokeAsync("_NavbarFormInlineAdminLayoutComponentPartial")
    <ul class="navbar-nav navbar-right">
		@await Component.InvokeAsync("_NavbarMessageListAdminLayoutComponenPartial")
		@await Component.InvokeAsync("_NavbarNotificationAdminLayoutComponenPartial")

		@await Component.InvokeAsync("_NavbarProfilAdminLayoutComponentPartial")
    </ul>
</nav>