@model List<ApiProjeWebUI.Dtos.ServiceDtos.ResultServiceDto>
<section id="why-us" class="why-us section light-background">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>Neden Yummy’i Seçmelisiniz</h3>
                    <p>
                        Lezzet ve kaliteyi bir araya getiren özel anlayışımız ile sizlere en iyi deneyimi sunuyoruz.
                        Özenle hazırlanan yemeklerimiz ve profesyonel hizmet anlayışımız ile her zaman yanınızdayız.
                        Sürekli gelişen yapımız ile müşteri memnuniyetini en üst seviyede tutmayı hedefliyoruz.
                    </p>
                    <div class="text-center">
                        <a href="#" class="more-btn"><span>Daha Fazla Bilgi</span> <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-xl-4">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <h4>Veriye Dayalı Profesyonel Hizmet</h4>
                            <p>En iyi hizmeti sunmak için analiz ve planlamayı temel alıyoruz</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-gem"></i>
                            <h4>Kaliteli ve Özenli Sunum</h4>
                            <p>Her detayda kaliteyi ön planda tutarak hizmet veriyoruz</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-inboxes"></i>
                            <h4>Hızlı ve Düzenli İş Akışı</h4>
                            <p>Tüm süreçlerimizi hızlı, düzenli ve kullanıcı odaklı şekilde yönetiyoruz</p>
                        </div>
                    </div><!-- End Icon Box -->

                </div>
            </div>

        </div>

    </div>

</section>